{% extends 'movie/base.html' %}
{% block title %}Contact Us{% endblock %}

{% block body %}
<br><br><br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <center>
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <div class="panel panel-default" style="background:#00BFFF;">
                <div class="panel-body">
                     <h1 style="color:#fff;">Contact@Pakitorrent.com</h1>
                </div>
            </div>
        </div>
        </center>
    </div>
 </div>
{% endblock %}
